.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-out;
  z-index: 100;
}

.modal-content {
  background: var(--bg-surface);
  color: var(--text-primary);
  padding: 2rem;
  border-radius: var(--radius);

  /* max-width: 800px;
  max-height: 90vh; */

  width: 100%;
  height: 100%;

  overflow-y: auto;
  position: relative;
  animation: slideUp 0.3s;
}

.modal-close {
  position: sticky;
  top: 0;
  margin-left: auto;
  display: block;

  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-primary);
}

/* ============================= */
/* Mobile FIRST */
/* Fullscreen real */
/* ============================= */

@media (max-width: 767px) {
  .modal-overlay {
    background: var(--bg-base); /* casi sin overlay */
  }

  .modal-content {
    border-radius: 0;
    padding: 1.25rem;
  }
}

/* ============================= */
/* Tablet / Desktop */
/* ============================= */

@media (min-width: 768px) {
  .modal-overlay {
    background: rgba(0, 0, 0, 0.6);
  }

  .modal-content {
    width: min(90vw, 900px);
    height: min(90vh, 720px);

    border-radius: var(--radius);
    padding: 2rem;

    animation: scaleIn 0.25s ease-out;
  }
}
