.project-card {
  background: var(--bg-surface);
  border: 2px solid var(--border-color);
  border-radius: var(--radius);
  padding: 1rem;
  cursor: pointer;
  width: 400px;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

  & p {
    font-family: var(--font-main);
  }
}

@media (max-width: 769px) {
  .project-card {
    width: 300px;
  }
}

.project-card:hover {
  background: var(--bg-elevated);
  transform: translateY(-4px);
  box-shadow: 0 5px 10px var(--bg-elevated);
}

.project-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & h3 {
    margin: 0;
  }
}

.project-chip {
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
}

.project-chip.green {
  border: 1px solid #4caf50;
  color: #4caf50;
}
.project-chip.yellow {
  border: 1px solid #ffeb3b;
  color: #ffeb3b;
}
.project-chip.red {
  border: 1px solid #f44336;
  color: #f44336;
}
/* .project-chip.green {
  background: #4caf50;
  color: #fff;
}
.project-chip.yellow {
  background: #ffeb3b;
  color: #000;
}
.project-chip.red {
  background: #f44336;
  color: #fff;
} */

.project-tech {
  display: inline-block;
  margin-right: 0.4rem;
  font-size: 0.8rem;
  border: 1px solid var(--border-color);
  color: var(--text-muted);
  padding: 4px 8px;
}
