.section-header.project {
  justify-content: space-between;
  width: 100%;
}

.separator.project {
  margin-bottom: 0;
}

.projects-list {
  height: 100%;
  overflow: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  flex: 1;

  padding-top: 1rem;
}

.projects-list::-webkit-scrollbar {
  width: 6px;
}

.projects-list::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 4px;
}
