/* SCROLLABLE CONTAINER */

.stack-container {
  flex: 1;
  overflow-y: auto;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

/* STACK BLOCK */

.stack-block {
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--radius);

  padding: 0.75rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  box-shadow: var(--shadow-sm);
}

/* TITLE */

.stack-block-title {
  font-family: var(--font-mono);
  font-size: 1rem;
  color: var(--text-secondary);
  opacity: 0.7;
  letter-spacing: 0.03em;
  font-weight: lighter;
}

/* LIST */

.stack-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ITEM */

.stack-item {
  margin-left: 5px;
  padding: 0.45rem 0.75rem;
  font-family: var(--font-mono);
  font-size: 0.9rem;
  color: var(--text-primary);

  display: flex;
  align-items: center;

  position: relative;
}

.stack-item span {
  color: var(--color-primary);
  margin-right: 8px;
}

/* separator line */

.stack-item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.75rem;
  right: 0.75rem;
  height: 1px;
  background: var(--border-color);
  opacity: 0.4;
}

/* subtle hover */

.stack-item:hover {
  background: var(--bg-elevated);
}

/* SCROLLBAR */

.stack-container::-webkit-scrollbar {
  width: 6px;
}

.stack-container::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 4px;
}
