.app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-content {
  flex: 1;
  overflow: hidden;
}

/* common layout styles */
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80vw;
  height: calc(100vh - 60px);
  padding: 2rem;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.section-header h2 {
  margin: 0;
}

@media (max-width: 769px) {
  .section {
    width: 100dvw;
    margin: 0 auto;
  }
  .section-header {
    flex-direction: column;
  }
}

.command {
  margin-bottom: 2rem;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--color-primary);
}

.cursor {
  display: inline-block;
  width: 6px;
  height: 1.2rem;
  background-color: var(--color-primary);
  animation: blink 1s step-start infinite;
  opacity: 1;
  margin-left: 0.2rem;
  vertical-align: bottom;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--border-color);
  margin: 1rem 0;
  flex-shrink: 0;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scaleUp {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
