/* ---------- GLOBAL RESET ---------- */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;@400;500;700&family=Inter:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "JetBrains Mono", monospace;
  /* font-family: "Inter", sans-serif; */
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: var(--bg-main);
  color: var(--text-primary);
  font-family: var(--font-main);

  overflow: hidden; /* importante para el carrusel */
}

button {
  font-family: inherit;
}

/* ---------- BASE ---------- */
:root {
  --font-main: "Inter", sans-serif;
  --font-terminal: "JetBrains Mono", monospace;

  --radius: 0px;
  --border-width: 1px;

  --transition-fast: 150ms ease;
  --transition-base: 250ms ease;
}

/* ---------- LIGHT THEME ---------- */
[data-theme="light"] {
  /* Backgrounds */
  --bg-main: #f7f7f7;
  --bg-surface: #ffffff;
  --bg-elevated: #eeeeee;

  /* Borders */
  --border-color: #cccccc;

  /* Text */
  --text-primary: #111111;
  --text-secondary: #444444;
  --text-muted: #777777;

  /* Accent */
  --color-primary: #007755;
  --color-secondary: #005544;
  --color-highlight: #00aa77;

  /* Status */
  --color-success: #008844;
  --color-warning: #cc8800;
  --color-error: #bb2222;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.08);
  --shadow-md: 0 3px 6px rgba(0, 0, 0, 0.12);
}

/* ---------- DARK THEME ---------- */
[data-theme="dark"] {
  /* Backgrounds */
  --bg-main: #0d0f12;
  --bg-surface: #111417;
  --bg-elevated: #1a1f24;

  /* Borders */
  --border-color: #2a2f35;

  /* Text */
  --text-primary: #e6e6e6;
  --text-secondary: #b5b5b5;
  --text-muted: #7a7a7a;

  /* Accent */
  /* --color-primary: #00ff99; */
  --color-primary: #3eff8b;
  --color-secondary: #00cc77;
  --color-highlight: #33ffad;

  /* Status */
  --color-success: #22cc88;
  --color-warning: #ffaa33;
  --color-error: #ff5555;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.5);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.7);
}
