.section.hero {
  height: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 769px) {
  .section.hero {
    justify-content: start;
  }
}

.hero-photo {
  width: 120px;
  height: 120px;
  border-radius: 0.25rem;
  object-fit: cover;
}

.hero-name-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-name {
  font-family: var(--font-terminal);
  font-size: 2.5rem;
  color: var(--color-primary);
  white-space: normal;
  margin: 0;
  max-width: 100%;
  word-break: break-word;
  font-family: "Inter", sans-serif !important;
}

.hero-subtitle {
  margin: 1rem 0 0.5rem;
  font-size: 1.2rem;
  color: var(--text-secondary);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Inter", sans-serif !important;
}

.hero-description {
  font-size: 1rem;
  color: var(--text-primary);
  line-height: 1.5rem;
  font-family: "Inter", sans-serif !important;
  text-align: justify;
}

.hero-invite {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: underline;
}

.hero-invite:hover {
  color: var(--color-highlight);
}
